# GitHub Configuration
GITHUB_OWNER=your_github_username_or_org
GITHUB_REPOSITORY=repo-manager
GITHUB_TOKEN=your_github_token

# n8n Configuration
N8N_HOST=localhost
N8N_PROTOCOL=http

# ngrok Configuration
NGROK_AUTHTOKEN=

# This will be filled automatically after ngrok starts
WEBHOOK_URL=